{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Zeus{% endblock%}</title>
    <link rel="icon" href="../../favicon.ico">
    <link href="{% static 'third-party/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'third-party/jquery-ui/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'third-party/jquery-ui/css/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="{{ request.path }}">

{% include 'nav.html' %}

{% block intro %}
{% endblock %}

{% block content %}
{% endblock %}

{% include 'footer.html' %}

<script src="{% static 'third-party/jquery/jquery.min.js' %}"></script>
<script src="{% static 'third-party/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'third-party/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>