{% extends 'base.html' %}

{% block title %}
    @TODO
{% endblock %}

{% block intro %}
<div class="jumbotron">
    <div class="container">
        <h1>COMPARE</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
    </div>
</div>
{% endblock %}
