{% extends 'base.html' %}

{% block title %}
    @TODO
{% endblock %}

{% block intro %}
<div class="jumbotron">
    <div class="container">
        <h1>DASHBOARD</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
        <a href="{% url 'teampick_select' %}">Select Teams</a>
        |
        <a href="{% url 'teampick_compare' %}">Compare</a>
        </div>
    </div>
</div>
{% endblock %}
