{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    NBA Teampick
{% endblock %}

{% block intro %}
<div class="jumbotron">
    <div class="container">
        <h1>SELECT</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul id="sortable" class="list-group">
            {% for team in teams%}
                <li class="list-group-item" id="team_{{ team.id }}">
                    <span class="pull-right"><img width="20%" src="{% static 'img/nba/'|add:team.slug|add:'.gif' %}"></span>
                    {{ team.location }} {{ team.name }}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-lg btn-primary" id="nba_teampick_save" value="Save Order">
        </div>
    </div>
</div>
{% endblock %}
