{% extends 'base.html' %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block intro %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ category.title }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>{{ category.created_at }}</p>
            {% for post in posts %}
                <div>
                <a href="{% url 'blog_post' post.slug %}">{{ post.title }}</a>
                {{ post.created_at }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
