{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block intro %}
<div class="jumbotron">
    <div class="container">
        <h1>Blog</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Posts</h3>
            {% for post in posts %}
                <div>
                <a href="{% url 'blog_post' post.slug %}">{{ post.title }}</a>
                {{ post.created_at }}
                </div>
            {% endfor %}

            <div>
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number}}">Previous</a>
                {% endif %}

                Page {{ posts.number }} of {{ posts.paginator.num_pages }}

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number}}">Next</a>
                {% endif %}
            </div>

        </div>
        <div class="col-md-4">
            <h3>Categories</h3>
            {% for category in categories %}
                <div>
                <a href="{% url 'blog_category' category.slug %}">{{ category.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
