{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block intro %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ post.title }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>{{ post.created_at }}</p>
            {{ post.content }}
        </div>
    </div>
</div>
{% endblock %}
